.custom-node {
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 1px;
}

.custom-node-start {
  background-color: #6a0dad; /* Purple */
}

.custom-node-finish {
  background-color: #ff4500; /* Orange */
}


.custom-node-wall {
  background-color: #444; /* Dark gray */
}

.custom-node-visited {
  background-color: #87ceeb; /* Light blue */
  animation: visitedAnimation 1.2s linear;
}

.custom-node-shortest-path {
  background-color: #32cd32; /* Lime green */
  animation: shortestPathAnimation 1s linear;
}

@keyframes visitedAnimation {
  0% { transform: scale(0.5); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes shortestPathAnimation {
  0% { background-color: yellow; }
  100% { background-color: #32cd32; }
}
